body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 0;
    font-family: 'Orbitron', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('1.jpg');
}
.player1_container {
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 2%;
    text-shadow: 0 0 2px #33ccff , 0 0 10px blue;
}
.player1_container .name {
    width: 100%;
    height: 15%;
}
.player1_container .symbol {
    width: 100%;
    height: 30%;
}
/*.player1_container .stats {
    width: 100%;
    height: 55%;
}*/
.game_area {
    width: 60%;
    height: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    color: white;
}
.gameTop {
    width: 100%;
    height: 10%;
    padding-top: 2%;
    font-size: 5rem;
    text-align: center;
    text-shadow: 0 0 5px #00e6e6, 0 0 20px #ff00ff;
}
.gameBottom {
    width: 100%;
    height: 90%;
    font-size: 10rem;
    font-weight: bolder;
    text-shadow: 0 0 25px #ff00ff, 0 0 40px #00e6e6;
}
.gameBoard {
    width: 100%;
    height: 80%;
    top: 50%;
    right: 50%;
    padding: 7%;
    margin: auto;
    cursor: pointer;
}
#reset {
    width: 100%;
    height: 5%;
    vertical-align: center;
    text-align: center;
    font-size: 15px;
    color: black;
}
.player2_container {
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px #33ccff , 0 0 10px blue;
    padding-top: 3%;
    padding-right: 2%;
}
.player2_container .name {
    width: 100%;
    height: 15%;
}
.player2_container .symbol {
    width: 100%;
    height: 30%;
}
/*.player2_container .stats {
    width: 100%;
    height: 55%;
}*/
.square {
    background-color: #00123377;
    float: left;
    border: 0.1px dotted #80acff;
    text-align: center;
    vertical-align: center;
    /*top: 50%;*/
    /*left: 50%;*/
}
.currentPlayer {
    text-shadow: 0 0 5px #FF0000, 0 0 20px #0000FF;
}
.nextPlayer {
    text-shadow: 0 0 3px #0000FF, 0 0 5px #FF0000;
}

.stats {
    height: 30%;
    width: 90%;
    padding: 10px;

    border: 1px solid #33ccff; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}
